  
<div> 
    <div class=" rounded h-100 p-4">
        <h6 class="mb-4">Create Training</h6>
         <div >
            <form [formGroup]="myForm" (ngSubmit)="onsubmit()">
              <!-- <h5 class="card-title"> </h5> -->
              <label for="">Training Name</label>
              <input type="text" formControlName="nom" class="form-control">
              <label for="">Classroom </label>
              <input type="text" formControlName="classroom" class="form-control">
              <label for="">Begin Date</label>
              <input type="date" formControlName="datedebut" class="form-control">      
              <label for="">End Date</label>
              <input type="date" formControlName="datefin" class="form-control">
              <label for="">Training Description</label>
              <textarea name="" formControlName="description" class="form-control"></textarea> <br>
              <button type="submit" class="btn btn-success">Valider</button>
            </form>
           </div>
    </div>
</div>
 