 <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" routerLink="/"> <img src="../assets/téléchargement-removebg-preview.png" alt="img" width="40px" height="40px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
        <!-- student navbar -->
        
        <li class="nav-item active" *ngIf="role==='student'">
          <a class="nav-link" routerLink="/">Display Student</a>
        </li>
        <li class="nav-item" *ngIf="role==='student'">
          <a class="nav-link" routerLink="/training"></a>
        </li>
        <!-- admin navbar -->



        <li class="nav-item active" *ngIf="role==='admin'">
          <a class="nav-link" routerLink="/adminstudent">Display Student</a>
        </li>
        <li class="nav-item active" *ngIf="role==='admin'">
          <a class="nav-link" routerLink="/admincreateformation">Create Formation</a>
        </li>
        <li class="nav-item active" *ngIf="role==='admin'">
          <a class="nav-link" routerLink="/admincreateteacher">Create Teacher</a>
        </li>

        <!-- teacher navbar -->


        <!-- guest navbar -->
          <div *ngIf="role===''">

            <li class="nav-item active" >
              <a class="nav-link" routerLink="/">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about">About Us</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact">Contact Us</a>
            </li>
          </div>
      </ul>
      <div  >
       <div *ngIf="role===''">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              
            <a class="nav-link" routerLink="/login"> <svg xmlns="http://www.w3.org/2000/svg" height="0.875em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M352 96l64 0c17.7 0 32 14.3 32 32l0 256c0 17.7-14.3 32-32 32l-64 0c-17.7 0-32 14.3-32 32s14.3 32 32 32l64 0c53 0 96-43 96-96l0-256c0-53-43-96-96-96l-64 0c-17.7 0-32 14.3-32 32s14.3 32 32 32zm-9.4 182.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L242.7 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l210.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128z"/></svg>
               Login
            </a>
          </li>
        
        </ul>
       </div>
       <div class="btn-group dropleft" *ngIf="role!=''">
        <div class="btn-group dropleft">
          <button style="padding-right:90px ;" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Profile
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" routerLink="/profile">Edit Profile</a>
            <a class="dropdown-item" (click)="ngOnDestroy()">Logout</a>
          </div>
        </div>
       </div>
     
    </div>
    </div>
  </nav>  
