<div class="timer">
  <button class="btn btn-info">  {{ minutes }}:{{ seconds | number: '2.0' }}</button>
  </div>
    <div class="bodys">
          <div>
            <input type="text"><br><input type="text"><br><input type="text"><br><input type="text"><br><input type="text"><br><input type="text"><br><input type="text">
          </div><br>
        </div>
        <div style="display: flex;justify-content: center;align-items: center;">
          <button class="btn btn-danger" style="margin-right:20px ;">chouaib</button>
          <button class="btn btn-danger">chouaib</button>
        </div>
    
        
    
